@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('../images/oranges.webp');
    background-position: 12% 83%;
    color: white;
    text-align: center;
    padding: 4em;
}

header {
    padding: 1em 0;
}

.hero-bg a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section{
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

label {
color: #2D7D98;
font-weight: bold;
display: block;
margin-bottom: 1em;
font-size: 1.2em;

}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button] {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;

}

button {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    margin: 10px;

}




button:hover {
    background-color: rgb(197, 118, 8);
   

}

.right-col {
    text-align: center;
    margin: 3em 1em;
}

.right-col a {
    text-align: center;

}

h2 {
    text-transform: uppercase;
    position: relative;
}

.authentic {
    margin: 0;
}

img {
    width: 100%;
}

p {
    line-height: 2em;
}

.form-container {
    margin: 2em 0 0;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}